<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />


<link rel="stylesheet" type="text/css"
	th:href="@{/resources/bootstrap.min.css}" />


<script type="text/javascript"
	th:src="@{/resources/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap.min.js}"></script>


<title>Spring Boot Example</title>


</head>
<body>
	<div class="container">


		<h2>Dane pracownika</h2>
		<div>
			<form class="form-horizontal" th:object="${employee}"
				th:action="@{/employee}" method="post">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label class="col-sm-2 control-label">Id pracownika:</label>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Imie:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{firstName}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nazwisko:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{lastName}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{email}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Ulica:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{street}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Miasto:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{city}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kod pocztowy:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{postcode}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Data urodzenia:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{birthdate}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Telefon:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{telephone}" />
					</div>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-default">Zapisz</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
