<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
<meta charset="UTF-8">

<title>Panel administratora</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />


<link rel="stylesheet" type="text/css"
	th:href="@{/resources/bootstrap.min.css}" />


<script type="text/javascript"
	th:src="@{/resources/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap.min.js}"></script>



<!-- 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 -->


</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Wyloguj się</button>
		</form>

		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/admin/home}">Strona
							główna</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/admin/home/employees}">Pracownicy</a></li>
							<li><a href="#" th:href="@{/admin/home/employee/new}">Dodaj
									pracownika</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="jumbotron">
				<div class="row text-center">
					<div class="">
						<h2>Spring Boot Example</h2>
						<h3>Witam</h3>
					</div>
				</div>
				<div class="row text-center">
					<img src="../../static/images/boot.png" width="200"
						th:src="@{/images/boot.png}" />
				</div>
			</div>

		</div>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/beer.jpg}"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>

	</div>


</body>
</html>